@charset "UTF-8";

#navbar2 {
    text-align: initial;
    padding-right: 14px;
    position: relative;
    padding-left: 0px;
    font-family: sans-serif;
    left: 0;
    height: 100%;
    top: 0;
    background-color: #62ebeaf5;
    width: 200px;
  }
  


  main {
      text-align: left;
      margin-left: 290px; 
      margin-right: 50px;
      top: 0;
  }
  
  .navul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 109em;
    margin-inline-start: -40px;
    margin-inline-end: -14px;
    padding-inline-start: 40px;
  }
  
  .navli {
    padding: 12px 12px;
    border-bottom: 1px solid #023f2d;
    list-style: none;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
  }
  
 #navbar2 header {
    font-size: 26px;
    margin-left: 70px;
    margin-top: 3px;
    padding: 10px 0px;
    color: black;
    font-weight: bold;
    position: relative;
    display: flex;
  }
  
  main header {
      font-size: 40px;
      color: #240868;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      margin-top: 44px;
      margin-bottom: 0px;
  }
  
 
 container{
    display:flex;
  }
 
 #f h1 {
        text-align: center;
        margin-bottom: 20px;
        color: black; 
        
 }
 .src2{
    height: 30px;
    width: 40px;
    position: relative;
    display: flex;
    margin-left: -50px;
    margin-right: 30px;
 }
 
 a:link{
     color: blue;
     text-decoration: none;
 }
 
 a:visited{
     color: blue;
     text-decoration: none;
 }
 
 a:hover{
     color: white;
     text-decoration: none;
 }
 
 #partion{
 	display : flex;
 }
 
 .container1{
    width: 20%;
 	
 }
 .container2{
    width: 80%;
    margin: 50px;
 
 }
 
 #issueConfirmation{
  display:flex;
  
  
 }
 
 
 #parentcontainer {
        display: flex;
        width: fit-content;
    }
  
 #childcontainer {
        border: 3px solid #1b593e;
        background-color:#08898899;
        height: 50px;
        width:50px;
        }
 
 .c h1 {
        text-align: center;
        margin-bottom: 20px;
        color: black; 
        
 }
 
 .confirmation h1{
        text-align: center;
        margin-bottom: 20px;
        color: black; 
 }
 
 #f{
    width: fit-content;
    margin: auto;
    padding: 0px 50px 25px 50px;
    border: 5px solid #1f717c;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    background-color:#0f705552;
 }
 
 #s{
    width: fit-content;
    margin: -30px auto;
    padding: 0px 25px 10px 20px;
    border: 5px solid #1f717c;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    background-color: #0f705552;
 }
 
.table-content {
 	width: fit-content;
    margin: auto;
    padding: 0px 50px 25px 50px;
    border: 5px solid #1f717c;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
 
 }
 
div.scroll {
    margin-left: 26%;
    margin-top: 19%;
    position: absolute;
    background-color: #d7e7e3;
    height: 300px;
    width: 1000px;
    overflow-x: auto;
    overflow-y: scroll;
    display: fit-content;
    font-size: 18px;
        }  
        
 

 
  /* Style the scrollbar */

.items{
	display:list;
}

 
  /* Containers */

  
  #container {
            overflow: auto;
            height: 500px;
        }
        
        
        
  #parentcontainer {
        display: flex;
        margin: auto;
    }
  
  #childcontainer {
        border: 3px solid #1b593e;
        background-color: #1fa09fab;
        margin: 25px;
        padding: 70px;
        border-radius: 15px;
    }
 
 td{
    padding: 4px 2px; 
 }
 
 .c{
    width: 30%;
    margin: auto;
    padding: 0px 50px 15px 30px;
    border: 5px solid grey;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    background-color: #c5c5e7;
 }
 
 .confirmation{
    height: 330px;
    width: 425px;
    margin: 10px 30px;
    padding: 0px 50px 15px 30px;
    border: 5px solid grey;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    background-color: #c5c5e7;
 }
 
 .error-container{
    width: fit-content;
    margin: 15% auto;
    padding: 35px;
    border: 5px solid grey;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    background-color: lemon green;

 }
 
 #errorimg::before {
    content: "";
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    z-index: 1;
}

.src4{
    height: 25px;
    width: 35px;
 }

/*Buttons*/


#logout {
        margin-left: auto;
}

#logout button {
        background-color: #87bdc5e8;
        color: black;
        border: 2px solid #1f717c;
        border-radius: 3px;
        padding: 5px 10px;
        cursor: pointer;
}

#logout button:hover {
  background-color: white; 
}

.button-group-c{
        margin-top: 20px;
        text-align: center;
        display: flex;
        padding-left: 38px;
        padding-top: 20px;
}
 
.button-group-c input[type="submit"] {
        padding: 10px 20px;
        border: none;
        background-color: #056c67;
        color: #fff;
        cursor: pointer;
        border-radius: 5px;
        margin-right: 10px;
}

.button-group {
        margin-top: 20px;
        text-align: center;
}

.button-group input[type="submit"],
.button-group input[type="reset"] {
        padding: 10px 20px;
        border: none;
        background-color: #056c67;
        color: #fff;
        cursor: pointer;
        border-radius: 5px;
        margin-right: 10px;
}

.button-group input[type="submit"]:hover,
.button-group input[type="reset"]:hover {
        background-color: #0056b3;
}