@charset "UTF-8";

#navbar2 {
    text-align: initial;
    border-right: 2px solid rgb(0, 0, 0);
    padding-right: 14px;
    position: relative;
    padding-left: 0px;
    font-family: sans-serif;
    left: 0;
    height: 100vh;
    top: 0;
    background-color: #69c4d5;
    width: 270px;
  }
  
#navbar2::before {
    content: "";
    background: url(https://images.ctfassets.net/mrop88jh71hl/55rrbZfwMaURHZKAUc5oOW/9e5fe805eb03135b82e962e92169ce6d/python-programming-language.png?w=1080&h=1080&q=100&fm=webp) no-repeat center center/cover;
    position: absolute;
    width: 104px;
    height: 84px;
    margin-left: -3px;
    margin-top: -3px;
    z-index: -1;
}

  main {
      text-align: left;
      margin-left: 290px; 
      margin-right: 50px;
      top: 0;
  }
  
  .navul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 109em;
    margin-inline-start: -40px;
    margin-inline-end: -14px;
    padding-inline-start: 40px;
  }
  
  .navli {
    padding: 12px 18px;
    border: 1px solid #09c2ff;
    list-style: none;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
  }
  
 #navbar2 header {
    font-size: 26px;
    margin-left: 70px;
    margin-top: 3px;
    padding: 10px 0px;
    color: black;
    font-weight: bold;
    position: relative;
    display: flex;
  }
  
  main header {
      font-size: 40px;
      color: #240868;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      margin-top: 44px;
      margin-bottom: 0px;
  }
  
  main::before {
      content: "";
      background: url(https://images.ctfassets.net/mrop88jh71hl/55rrbZfwMaURHZKAUc5oOW/9e5fe805eb03135b82e962e92169ce6d/python-programming-language.png?w=1080&h=1080&q=100&fm=webp) no-repeat center center/cover;
      position: relative;
      width: 746px;
      height: 883px;
      margin-top: -157px;
      margin-left: -29px;
      z-index: -1;
      opacity: 0.55;
  }
 container{
    display:flex;
  }
 
 #f h1 {
        text-align: center;
        margin-bottom: 20px;
        color: black; 
        
 }
 .src2{
    height: 30px;
    width: 40px;
    position: relative;
    display: flex;
    margin-left: -50px;
    margin-right: 30px;
 }
 
 a:link{
     color: blue;
     text-decoration: none;
 }
 
 a:visited{
     color: blue;
     text-decoration: none;
 }
 
 a:hover{
     color: white;
     text-decoration: none;
 }
 
 #partion{
 	display : flex;
 }
 
 .container1{
    width: 20%;
 	
 }
 .container2{
    width: 80%;
    margin: 50px;
    display : ruby;
 }
 
 
 #parentcontainer {
        display: flex;
        width: fit-content;
    }
  
 #childcontainer {
        border: 3px solid grey;
        background-color: blue;
        height: 50px;
        width:50px;
        }
 
 .c h1 {
        text-align: center;
        margin-bottom: 20px;
        color: black; 
        
 }
 
 #f{
    width: fit-content;
    margin: auto;
    padding: 0px 50px 25px 50px;
    border: 5px solid grey;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    background-color: #a097e3;
 }
 
.table-content {
 	width: fit-content;
    margin: auto;
    padding: 0px 50px 25px 50px;
    border: 5px solid grey;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
 
 }
 
div.scroll {
    margin-left: 26%;
    margin-top: 32%;
    position: fixed;
    background-color: #d7e7e3;
    width: 70%;
    overflow-x: auto;
    overflow-y: scroll;
        }
 
 
  /* Style the scrollbar */
  
  #container {
            overflow: auto;
            height: 500px;
        }
        
        
        
  #parentcontainer {
        display: flex;
        margin: auto;
    }
  
  #childcontainer {
        border: 3px solid grey;
        background-color: blue;
        margin: 25px;
        padding: 70px;
        border-radius: 15px;
    }
 
 
 
 .c{
    width: 30%;
    margin: auto;
    padding: 0px 50px 25px 50px;
    border: 5px solid grey;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color: #c5c5e7;
 }
 
 .button-group-c{
    margin-top: 20px;
    text-align: center;
    display: flex;
    padding-left: 38px;
    padding-top: 20px;
 }
 
 .button-group-c input[type="submit"] {
        padding: 10px 20px;
        border: none;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
        border-radius: 5px;
        margin-right: 10px;
    }
 .button-group {
        margin-top: 20px;
        text-align: center;
    }

    .button-group input[type="submit"],
    .button-group input[type="reset"] {
        padding: 10px 20px;
        border: none;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
        border-radius: 5px;
        margin-right: 10px;
    }

    .button-group input[type="submit"]:hover,
    .button-group input[type="reset"]:hover {
        background-color: #0056b3;
    }