@charset "UTF-8";

body {
      width: 100%;
      height: 100vh;
      background-color: darkcyan;
      color: #f5f6f7;
      font-family: Tahoma;
      font-size: 16px;
      margin: 0;
      padding: 0;
      justify-content: center;
      align-items: center;
      display: flex;
    }
    
/* Navigation Bar */
#navbar {
  background-color: darkcyan;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  height : 70px;
  width: 100%;
  z-index : 2;
     
}

/* Navigation Bar: logo and image*/
#logo {
    margin-left: 19px;
}
#logo img {
  margin: 0px;
  max-width: 72px;
}



/* Navigation Bar: list styling */

#navbar::before {
  content: "";
  position: absolute;
  height: 113px;
  width: 100%;
  z-index: -1;
  margin-top: -30px;
  top: 0;
  left: 0;
}

#navbar ul {
  display: flex;
  margin-top: -24px;
  font-family: 'Baloo Bhai', cursive;
  padding-right: 24px;
  padding-top: 26px;
}

#navbar ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  font-size: 1.1rem;
}
#navbar ul li a {
  color: #fff;
  display: block;
  padding: 4px 34px;
  border-radius: 5px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
#navbar ul li a:hover {
  color: black;
  background-color: rgb(114, 233, 223);
}

 a:link{
     color: blue;
     text-decoration: none;
 }
 
 a:visited{
     color: blue;
     text-decoration: none;
 }
 
 a:hover{
     color: white;
     text-decoration: none;
 }

#navbar {
  display: flex;
  justify-content: space-between; /* Align items at the ends */
  align-items: center; /* Center items vertically */
}


.login-container {
        background-color: #a097e3;
        border-radius: 8px;
        padding: 15px 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 300px;
       
    }
    .login-container h2 {
        text-align: center;
        margin-bottom: 20px;
        color: black;
    }
    
    .login-container input[type="text"],
    .login-container input[type="number"],
    .login-container input[type="password"],
    .login-container input[type="email"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    .login-container input[type="submit"] {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 10px;
        margin-top : 25px;
        cursor: pointer;
        width: 100%;
    }
    .login-container input[type="submit"]:hover {
        background-color: #0056b3;
    }
    
    
    