@charset "UTF-8";

body {
  overflow: hidden;
  background-color: #c0c0c0;
}

a:link{
     text-decoration: none;
 }
 
a:visited{
     text-decoration: none;
 }
 
a:hover{
     text-decoration: none;
 }

/* Top Navbar  */

#navbar {
  background-color: darkcyan;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  height : 70px;
  width: 100%;
  z-index : 2;
     
}

/* Navigation Bar: logo and image*/
#logo {
    margin-left: 19px;
    margin-top: 6px;
}
#logo img {
  margin: 0px;
  max-width: 72px;
}

 /* Admin Details */
 
 #AdminDetails{
 	display: flex;
    list-style: none;
    font-size: larger;
    background-color: white;
    margin: auto;
    padding-right: 30px;
    border : 1px solid black;
    border-radius : 50px;
 }

/* Side NavBar */
  
#navbar2 {
    text-align: initial;
    padding-right: 14px;
    position: relative;
    padding-left: 0px;
    font-family: sans-serif;
    left: 0;
    height: 100%;
    top: 0;
    background-color: #e6ffff;
    width: 200px;
  }
  
  main {
      text-align: left;
      margin-left: 290px; 
      margin-right: 50px;
      top: 0;
  }
  
  .navul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 109em;
    margin-inline-start: -40px;
    margin-inline-end: -14px;
    padding-inline-start: 40px;
  }
  
  .navli {
    padding: 12px 12px;
    border-bottom: 1px solid #899497;
    list-style: none;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
  }
  
 #navbar2 header {
    font-size: 26px;
    margin-left: 70px;
    margin-top: 3px;
    padding: 10px 0px;
    color: black;
    font-weight: bold;
    position: relative;
    display: flex;
  }
  
  main header {
      font-size: 40px;
      color: #240868;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      margin-top: 44px;
      margin-bottom: 0px;
  }
  
  
  /* Menu Logo */
  
  .src2{
    height: 30px;
    width: 40px;
    position: relative;
    display: flex;
    margin-left: -50px;
    margin-right: 30px;
 }
 
#navbar2 a:link{
     color: blue;
     text-decoration: none;
 }
 
#navbar2 a:visited{
     color: blue;
     text-decoration: none;
 }
 
#navbar2 a:hover{
     color: green;
     text-decoration: none;
 }
 

/* Container Work */

#partion{
	display : flex;
}

.container1{
	width: 17%;
}
.container2{
	width: 83%;
}


/* Containers */

  
  #container {
            overflow: auto;
            height: 500px;
        }
        
        
        
  #parentcontainer {
 	padding-left: 47px;
    justify-content: center;
    height: 442px;
    width: 800px;
    display: flex;
    position: fixed;
    flex-direction: row;
    flex-wrap: wrap;
    }
  
  #childcontainer {
    border: 1px solid grey;
    background-color: #ffffff;
    margin: 25px;
    height: 105px;
    width: 175px;
    padding: 15px;
    text-align-last: center;
    border-radius: 10px;
    }

.src3{
    height: 58px;
    width: 75px;
 }
 
.src4{
    height: 20px;
    width: 20px;
 }



/* Add Delete (Book/Student) Form*/

.formbox{
	position: relative;
    background-color: white;
    width: fit-content;
    margin: auto;
    padding: 1px 20px 10px 20px;
    border-radius: 5px;	
}

.formbox pre{
	font-size: x-large;
    font-weight: bold;
    margin: 10px;
}



.formbox input[type="number"],
.formbox input[type="text"],
.formbox input[type="email"]{
	padding: 3px;
    font-size: large;
    border-bottom-width: medium;
    width: 280px;
}
.formbox input[type="date"],
.formbox input[type="radio"]{
	padding: 3px;
    font-size: large;
    border-bottom-width: medium;
}

.formbox2{
	position: relative;
    background-color: white;
    width: fit-content;
    margin: auto;
    padding: 1px 15px 5px 15px;
    border-radius: 5px;	
}
.formbox2 pre{
	font-size: larger;
    font-weight: bold;
    margin: 0px 0px;
    margin-top: -6px;
}
.formbox2 input[type="number"],
.formbox2 input[type="text"],
.formbox2 input[type="email"]{
	padding: 3px;
    font-size: large;
    border-bottom-width: medium;
    width: 280px;
}







/* Table */

div.scroll {
    margin-left: 21%;
    margin-top: 20%;
    position: absolute;
    text-align: -webkit-center;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    overflow-x: auto;
    overflow-y: scroll;
    font-size: 14px;
    font-family: math;
  } 

.scroll th {
	position: sticky; 
    top: 0;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
.scroll th, td {
  background-color: #96D4D4;
  padding: 6px;
  font-size: larger;
}

.scroll tr td a:link {
	color: blue;
	text-decoration: none;
}
.scroll tr td a:visited {
	color: blue;
	text-decoration: none;
}
.scroll tr td a:hover {
	color: green;
    text-decoration: none;
}



div.scroll2 {
    margin: auto;
    margin-left: 44px;
    padding-right: 5px;
    padding-top: 10px;
    position: relative;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    overflow-x: overlay;
    overflow-y: scroll;
    font-size: 14px;
    font-family: math;
  } 

.scroll2 th {
	position: sticky; 
    top: 0;
}


.scroll2 th, td {
  background-color: #96D4D4;
  padding: 6px;
  font-size: larger;
}







/* Confirmation Page CSS */

.conf-div {
	align-items: center;
	display : flex;
	flex-direction : column;
}

.row1{
	display : flex;
	padding-bottom : 10px;
}

.row2{
	display : flex;
}

.details {
	background-color: cornsilk;
    border: 1px dashed blue;
    border-radius: 10px;
    margin: 10px;
    padding: 0px 15px;
    width: 300px;
}

.details2 {
	background-color : red;
	border : 1px solid blue;
	width : fit-content;
	margin : 10px;
	padding : 20px;
}

.confirm-option {
	background-color: crimson;
    border: 1px solid blue;
    margin: 10px;
    padding: 15px;
    width: 300px;
    border-radius: 20px;
}

.button-group-confirm-option{
	text-align-last: center;
}





.details h2 {
	text-align : center;
}

.confirm-option h3 {
	text-align : center;
}

.details p {
	font-family : math;
}

.details p span {
	font-style: italic;
    font-weight: bold;
}

















































 
 
 /*Buttons*/


#logout {
        margin-left: auto;
}

#logout button {
        background-color: aquamarine;
        color: black;
        border: 2px solid grey;
        border-radius: 3px;
        padding: 5px 10px;
        cursor: pointer;
}

#logout button:hover {
  background-color: white; 
}

.button-group-c{
        margin-top: 20px;
        text-align: center;
        display: flex;
        padding-left: 38px;
        padding-top: 20px;
}
 
.button-group-c input[type="submit"] {
        padding: 10px 20px;
        border: none;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
        border-radius: 5px;
        margin-right: 10px;
}

.button-group {
        margin-top: 20px;
        text-align: center;
}

.button-group input[type="submit"],
.button-group input[type="reset"] {
        padding: 10px 20px;
        border: none;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
        border-radius: 5px;
        margin-right: 10px;
}
.button-group input[type="submit"]:hover,
.button-group input[type="reset"]:hover {
        background-color: #0056b3;
}


.button-group-search{
	text-align: center;
}

.button-group-search input[type="submit"],
.button-group-search input[type="reset"]{
	padding: 3px 9px;
    margin-top: 10px;
    border: none;
    background-color: black;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: large;
    text-align: center;
}
.button-group-search input[type="submit"]:hover,
.button-group-search input[type="reset"]:hover{
	background-color: #fff;
    color: black;
}


.button-group-search-single{
	text-align: center;
	padding: 3px 9px;
    margin-top: 10px;
    border: none;
    background-color: black;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: large;
    text-align: center;
}
.button-group-search-single:hover {
	background-color: #fff;
    color: black;
}


.button-group-confirm-option input[type="submit"]{
	padding: 4px 10px;
    margin-top: 10px;
    border: 1px solid white;
    background-color: #0080ff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: large;
    text-align: center;
}
.button-group-confirm-option input[type="submit"]:hover{
	background-color: #4867e1;
    color: black;
}